@import url(product.css);

.grid-container{
    margin:0;
    padding: 0;
    gap:5px;
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "header header header header header"
    "main   main   main   main   main"
    "footer footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    padding: 16vh 4vw;
}

footer {
    grid-area: footer;
}

/* landing page cover */

.cover-container {
    display: flex;
    justify-content:center;
}

.landing-page-cover {
    height: 30rem;
    width: 100%;
    position: relative;
}

.cover-image {
    border-radius: 10px;
}

.cover-text {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.cover-text h1 {
    text-shadow: 5px 4px var(--bb-backdrop-color);
    text-align: center;
}

.btn-explore {
    box-shadow: 2px 3px 15px var(--bb-backdrop-color);
}

.btn-explore:hover {
    color: var(--bb-light-color);
    background-color: var(--bb-secondary-color);
    border-color: var(--bb-light-color);
}

/* landing page category section */

@media only screen and (max-width: 755px) {

    main {
        padding: 22vh 4vw;
    }

    .landing-page-cover {
        height: 16rem;
        width: 100%;
        position: relative;
    }

    .cover-text {
        position: absolute;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        transform: translate(-50%, -40%);
        width: 80%;
    }

    .card-video-container {
        width: 100%;
    }

    .cover-text h1 {
        font-size: 1.5rem;
        text-align: center;
    }

}