/* navbar */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bb-light-color);
    color: var(--bb-dark-color);
}

.navbar-section {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display:flex;
    justify-content: space-between;
    padding: 1rem 4vw;
    gap: 3rem;
}

.nav-item-group {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 3;
}

.navbar-brand {
    flex-grow: 0;
    gap: 0.2rem;
}

.brand-name {
    font-weight: bold;
    font-size: 1.6rem;
}

.navbar-menu {
    flex-grow: 0;
}

.icon-badge {
    position:absolute;
    top: -0.4rem;
}

.nav-search-bar {
    display:flex;
    border-radius:5px;
    flex-grow: 1;
    border: 1px solid var(--bb-inactive-color);
}

.nav-search-field {
   border: 0;
   padding-left: 1rem;
   width: 90%;
}

.nav-search-field:focus {
    outline: 0;
}

.btn-nav-search {
    border-radius: 5px;
    color: var(--bb-dark-color);
    border:0;
    padding: 0.15rem 2rem;
}

.btn-burger {
    display: none;
}

.btn-burger {
    background: transparent;
    border: 0;
}

/* footer styling */

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 920px) {

    .btn-burger {
        display: block;
    }

    .navbar-brand {
        display: none;
    }

    .nav-item-group {
        display: flex;
        flex-direction: column-reverse;
        gap:1rem;
        width: 100%;
        align-items: start;
    }

    .navbar-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .nav-search-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-company-column {
        grid-area: 1/1/2/4;
        margin-bottom: 3rem;
    }
}