@import url(master.css);
@import url(util.css);


.product-grid-container {
    margin:0;
    padding: 0;
    gap:5px;
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header header header"
    "aside   main   main   main   main"
    "footer footer footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    padding: 10vh 4vw;
}

footer {
    grid-area: footer;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-video-container {
    width: 30%;
}

.card-vertical-thin {
    width: 30%;
}

.card-image-vertical {
    width: 90%;
    height: 16rem;
}


/* sidenav */

.sidebar {
    grid-area: aside;
    position:relative;
}

.sidenav{
    position: sticky;
    top: 14vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0rem;
    color: var(--bb-dark-color);
    padding: 1rem;
    overflow: hidden;
}

.price-range {
    width: 100%;
    cursor: pointer;
}

/* hide filter button on desktop view */

.btn-product-filter {
    display: none;
}

/* hide filter  close button on desktop view */

.btn-filter-close {
    display: none;
}

@media only screen and (max-width: 755px) {

    .product-grid-container {
        margin:0;
        padding: 0;
        gap:5px;
        height: 100vh;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    }

    main {
        padding: 12vh 4vw;
    }

    /* hide filter sidebar on mobile view */

    aside {
        display: none;
    }

    /* filter button visible on mobile view */

    .btn-product-filter {
        display: block;
        position: fixed;
        bottom: 2rem;
        right:0.5rem;
        z-index:3;
    }

    /* filter close button visible on mobile view */

    .btn-filter-close {
        display:block;
        position: absolute;
        right: 1rem;
        top: 0.5rem;
    }

    /* hide filter sidebar on mobile view */

    .sidebar {
        display: none;
        z-index: 5;
        position: fixed;
        height: 100vh;
        justify-content: center;
        background-color: var(--bb-light-color);
    }
    
    .category-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card-vertical-thin {
        width: 100%;
    }

    .card-image-vertical {
        height: 20rem;
    }

}

/* utility classes for hiding and showing an element */

.hide {
    display: none;
}

.show {
    display:block;
}
